body {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(196, 160, 254);
  box-sizing: border-box;
  /* position: relative; */
}

.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: rgb(147, 147, 255);
  top: 0;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}

.Title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 50px;
  /* text-align: center; */
  justify-content: center;
  flex-grow: 1;
  /* flex: 1; */
}

.navList {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 0;
  /* margin: 0; */
  list-style-type: none;
}

.linkList {
  display: flex;
  align-items: center;
  /* flex: 1; */
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: 5px;
}

.linkList li {
  margin-left: 15px;
}

.linkList img {
  /* flex-grow: 1; */
  /* width: 50px;
  height: 50px; */
  border-radius: 10%;
  /* margin-left: 10px; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pickTeams {
  display: flex;
  justify-content: center;
}

.pickAwayTeam {
  margin-right: 20px;
  padding: 5px 5px 10px 5px;
  border: 3px solid navy;
}
.pickHomeTeam {
  margin-right: 20px;
  padding: 5px 5px 10px 5px;
  border: 3px solid navy;
}

.lineups {
  display: inline-flex;
  justify-content: center;
  border: 3px solid navy;
  background-color: rgb(147, 147, 255);
  color: white;
  border-radius: 10%;
}

.lineups ol {
  padding: 10px 10px 10px 10px;
  flex: 0 0 auto; /* This makes each <ol> take up only the width it needs */
  margin: 0 10px;
  margin-left: 20px;
}

.hidden {
  display: none;
}

.field {
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-10vw); */
  width: 10vw; /*viewport height*/
  height: 10vw;
  /*margin-left: 10px;*/
  background-color: green; /* Grass color */
  border-radius: 50%;
}

.diamond {
  position: absolute;
  width: 15%; /* Width of the diamond */
  height: 15%; /* Height of the diamond */
  background-color: lightblue; /* Color of the diamond */
  transform: rotate(45deg); /* Rotate to make it diamond-shaped */
  /* Center the diamonds based on their width and height */
  transform-origin: center center; /* Set origin for rotation */
}

.home {
  top: 70%; /* Position for home plate (bottom center) */
  left: 50%; /* Centered horizontally */
  transform: translate(-50%, 50%) rotate(45deg); /* Center horizontally and rotate */
}

.first-base {
  top: 50%; /* Centered vertically */
  left: 95%; /* Position it to the right of the field */
  transform: translate(-100%, -50%) rotate(45deg); /* Center vertically and rotate */
}

.second-base {
  top: 5%; /* Position for second base (top center) */
  left: 50%; /* Centered horizontally */
  transform: translate(-50%, 0) rotate(45deg); /* Center horizontally and rotate */
}

.third-base {
  top: 50%; /* Centered vertically */
  left: 5%; /* Position for third base (left center) */
  transform: translate(0, -50%) rotate(45deg); /* Center vertically and rotate */
}

.fieldTable {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.statsTable {
  margin-bottom: 10px;
  /* border-collapse: collapse; */
  /* width: 40%; */
  /* margin-left: 10px;
  margin-right: 10px; */
  /* border: 5px solid black; */
}

.statsTable td {
  border: 1px solid #ccc; /* Add borders for cells */
  padding: 8px; /* Add padding for better spacing */
  text-align: center; /* Center align text */
}

table {
  /* border: 5px solid black; */
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

.playerText {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100px;
}

#AwayPlayer {
  text-align: right;
}
#HomePlayer {
  text-align: left;
}

.Left,
.Right {
  flex: 1;
  padding: 10px;
}

.Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Left,
.Right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#below {
  min-height: 120px;
}

/* #continue {
  margin-top: 15px;
  width: 100px;
  height: 75px;
  border-radius: 10%;
  background-color: rgb(147, 147, 255);
  color: white;
} */
#continue {
  margin-top: 15px;
  width: 150px;
  height: 35px;
  border-radius: 10%;
  background-color: rgb(147, 147, 255);
  color: white;
}
#runSimulation {
  margin-top: 15px;
  width: 150px;
  height: 35px;
  border-radius: 15%;
  background-color: rgb(147, 147, 255);
  color: white;
}
#nextSim {
  margin-top: 15px;
  width: 150px;
  height: 35px;
  border-radius: 15%;
  background-color: rgb(147, 147, 255);
  color: white;
}

#boxScore {
  width: 98%;
  margin-left: 1%;
  /* margin-right: 10px; */
  align-items: center;
  justify-content: center;
}
